[flake8]
# B950  line too long
# E231  missing whitespace after ‘,’
# E266  too many leading ‘#’ for block comment
# E303  too many blank lines (3)
# E501  line too long
# F403  ‘from module import *’ used; unable to detect undefined names
# W503  line break before binary operator
ignore = E266, E303, F403, W503
max-line-length = 89
max-complexity = 18
select = B,C,E,F,T,W,B9
per-file-ignores =
    */migrations/*:B950, E231, E501
