[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==19.10b0"
flake8 = "*"
flake8-bugbear = "*"
flake8-fixme = "*"
django-extensions = "*"
django-debug-toolbar = "*"
ipython = "*"
ipdb = "*"

[packages]
django = "==3.1.*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-baton = "==1.10.8"
pillow = "*"
django-pagedown = "*"
jsonschema = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
