[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==19.10b0"
flake8 = "*"
flake8-bugbear = "*"
flake8-fixme = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[packages]
django = "==3.0.*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
