{% load i18n static %}
<div id="footer" class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <a href="http://cidr.stanford.edu/"
                title="Center for Interdisciplinary Digital Research @ Stanford Libraries">
                <img src="{% static "img/cidr_i.8x25.png" %}" alt="CIDR logo">
                CIDR @ Stanford University Libraries
            </a>
            <a href="https://github.com/sul-cidr/sati/">
                <i class="fab fa-github"></i>
                https://github.com/sul-cidr/sati/
            </a>
        </div>
    </div>
</div>
