/* This should probably be done by recompiling the baton app,
 *  but this is sufficient for now.
 */

body {
  font-family: "Heebo", sans-serif !important;
  overflow-y: scroll;
}

th,
.change-form #content-main > form .required,
.passwordchange #content-main > form .required,
.nav-tabs .nav-link {
  font-weight: 500 !important;
}

.site-footer a {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

.site-footer a i,
.site-footer a img {
  margin-right: 10px;
}

.change-form #content-main > form .tabular.inline-related textarea {
  width: 100% !important;
}

.change-form #content-main > form textarea {
  flex: 1 0 auto;
}

/* */
ul.choice-array-field {
  list-style: none;
  padding: 0;
}

ul.choice-array-field li {
  display: inline-block;
}

/* */
.change-list .results table th,
.change-list .results table td {
  vertical-align: middle !important;
}
.field-gravatar {
  text-align: center;
  width: 50px;
}
