/* This should probably be done by recompiling the baton app,
 *  but this is sufficient for now.
 */

/* Change the base font */
body {
  font-family: "Heebo", sans-serif !important;
  overflow-y: scroll;
}

#branding {
  white-space: normal !important;
}

th,
.change-form #content-main > form .required,
.passwordchange #content-main > form .required,
.nav-tabs .nav-link,
.sidebar-menu .depth-0 .title > span {
  /* the GWF import declaration pulls in a variant with a weight of 500,
   * not a true bold (700), and so `font-weight: bold` looks awful.
   */
  font-weight: 500 !important;
}

/* Footer stuff */
.site-footer a {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

.site-footer a i,
.site-footer a img {
  margin-right: 10px;
}

/* Make text-areas full sized */
.change-form #content-main > form .tabular.inline-related textarea {
  width: 100% !important;
}

.change-form #content-main > form textarea {
  flex: 1 0 auto;
}

/* Array field (generic) */
ul.choice-array-field {
  list-style: none;
  padding: 0;
}

ul.choice-array-field li {
  display: inline-block;
}

/* Gravatar-related */
.change-list .results table th,
.change-list .results table td {
  vertical-align: middle !important;
}
.field-gravatar {
  text-align: center;
  width: 50px;
}

/* Main images on Item change pages */
.field-main_image .baton-image-preview {
  height: auto !important;
  max-width: 100%;
}

label[for="id_main_image"] {
  display: none;
}

/* Requires attention field in list view */
.column-requires_attention {
  max-width: 35px;
}

.field-requires_attention {
  text-align: center;
}
